
<div class="row">
    <div class="col-sm-4 col-6">
        {{input id="bid" class="form-input" type="number" value=bid}}
        <p class="fs-12">Enter $260.00 or more</p>
    </div>
    <div class="col-sm-4 col-6">
        <button class="custom-button" {{action "postBid"}}>Place bid {{fa-icon 'angle-right' size="lg"}}</button>        
    </div>
</div>