<div class="row">
    <div class="col-lg-4">
        <ul class="col-lg-8 col-lg-offset-2 categories">
            <h4>CATEGORIES</h4>
            <li class="category-item">
                <a href="" class="category-item-link">Fashion</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Accesories</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Jewlery</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Shoes</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Sportware</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Home</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Electronics</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Mobile</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">Computer</a>
            </li>
            <li class="category-item">
                <a href="" class="category-item-link">All categories</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-8 item">
        <div class="row">
            <div class="item-description col-lg-6">
                <h1>Running shoes</h1>
                <h5>Start from - $240.00</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Aperiam optio vitae, quos animi, possimus officia iusto 
                    maiores enim non reiciendis sint rerum doloremque odio debitis! 
                    Eum dolorem sequi unde iste.</p>
            </div>
            <div class="item-image col-lg-6">
                <img src="assets/images/shoes.png" alt="/" width="300px">
            </div>
        </div>
        <div class="row">
<<<<<<< b960e14c022738ee71d217503417bd5c123699c8
<<<<<<< 27c22a56dc4a50813e90368857a859e7409be507
            <div class="col-md-6 col-sm-12">
                <button class="custom-button w-20">BID NOW {{fa-icon 'angle-right' size="lg"}}</button>
=======
            <div class="col-sm-12">
                <button class="custom-button w-20">BID NOW       {{fa-icon 'angle-right' size="lg"}}</button>
>>>>>>> Added static landing-page
=======
            <div class="col-md-6 col-sm-12">
                <button class="custom-button w-20">BID NOW {{fa-icon 'angle-right' size="lg"}}</button>
>>>>>>> Landing-page(2)
            </div>
        </div>
    </div>
</div>