<nav class="navbar navbar-expand-lg navbar-white">
    <div class="container px-sm-3" id="page-nav" >
<<<<<<< 99f2d8a7d916d939789e8d419043b6c8b636c7d8
            {{#link-to 'index' id="brand"}}
                {{fa-icon 'gavel' flip="horizontal" size="lg"}}
                <h5 class="navbar-brand">Auction</h5>
            {{/link-to}}
=======
        <div id="brand">
            <a>{{fa-icon 'gavel' flip="horizontal" size="lg"}}</a>
            <a class="navbar-brand">Auction</a>
        </div>
>>>>>>> Landing-page(2)
        <button class="navbar-toggler my-sm-2" type="button" data-toggle="collapse" data-target="#nav-items" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-items">
            <div class="my-2">{{search-bar}}</div>
            <div class="navbar-nav">
                {{#link-to 'index' class="nav-item nav-link active" }}Home{{/link-to}}
                {{#link-to 'index' class="nav-item nav-link" }}Shop{{/link-to}}
                {{#link-to 'index' class="nav-item nav-link" }}My account{{/link-to}}
            </div>  
        </div>
    </div>
</nav>