<div class="navbar-form">
    <form action="/" method="get" role="search" class="navbar-search">
        <div class="input-group">
<<<<<<< 94ffea71f826cd8158ca267005d2450342cac3b2
            {{input type="search" class="form-control" aria-label="search" placeholder="Try enter: shoes" value=search}}
=======
            {{input type="search" class="form-control" aria-label="search" placeholder="Try enter: shoes" value="index"}}
>>>>>>> Added login and register page
            <button class="btn" id="btn-search" type="submit">{{fa-icon 'search'}}</button>
        </div>
    </form>
</div>



