<div class="navbar-form">
    <form action="/" method="get" role="search" class="navbar-search">
        <div class="input-group">
            {{input type="search" class="form-control" aria-label="search" placeholder="Try enter: shoes" value="index"}}
            <button class="btn" id="btn-search" type="submit">{{fa-icon 'search'}}</button>
        </div>
    </form>
</div>



