
<div id="top-bar">
  <div class="container">
    <div id="items">
      <a href="#" class="nav-item">{{fa-icon 'facebook' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'instagram' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'twitter' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'google-plus' size="lg"}}</a>
    </div>
    <div class="navbar-expand">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Login</a>
        <a class="nav-item nav-link" href="#">Register</a>
      </div>
    </div>
  </div>
</div>
