    <div class="col-3">
        <div class="item-image-sm" style="background-image:url('{{image}}')">
        </div>
    </div>
    <div class="col-sm-2 col-3 text-center">
        {{fa-icon 'times' size=3 class="align-middle pointer-red" title="Delete the picture"}}
    </div>
