<main>
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-12 col-md-6 offset-md-3 border-1">
                <div class="register-title">
                    <h3>Sell</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <img src="https://abhpraksa201805.s3.amazonaws.com/shopping_bag.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <p class="col-sm-6 offset-sm-3 text-center">Start selling today!</p>
                </div>
                {{#link-to 'sell.details' class="form-button button-purple" tagName='button'}}START SELLING {{fa-icon 'angle-right' size="lg"}}{{/link-to}}
            </div>
        </div>
    </div>
</main> 